In [10]:
import pandas as pd
imdb_title_basics = pd.read_pickle('cleaned_data/imdb_title_basics.pkl')
imdb_title_crew = pd.read_pickle('cleaned_data/imdb_title_crew.pkl')
imdb_title_ratings = pd.read_pickle('cleaned_data/imdb_title_ratins.pkl')
tn_movie_budgets = pd.read_pickle('cleaned_data/tn_movie_budgets.pkl')

Merging all data into one

In [3]:
imdb_title_basics.head()

,imdb_id,primary_title,original_title,start_year,genres
0,tt0063540,Sunghursh,Sunghursh,2013,"[Action,Crime,Drama]"
1,tt0066787,One Day Before the Rainy Season,Ashad Ka Ek Din,2019,"[Biography,Drama]"
2,tt0069049,The Other Side of the Wind,The Other Side of the Wind,2018,[Drama]
3,tt0069204,Sabse Bada Sukh,Sabse Bada Sukh,2018,"[Comedy,Drama]"
4,tt0100275,The Wandering Soap Opera,La Telenovela Errante,2017,"[Comedy,Drama,Fantasy]"

In [4]:
imdb_title_crew.head()

     imdb_id                          directors                 writers
0  tt0285252                        [nm0899854]             [nm0899854]
2  tt0462036                        [nm1940585]             [nm1940585]
3  tt0835418                        [nm0151540]  [nm0310087, nm0841532]
4  tt0878654  [nm0089502, nm2291498, nm2292011]             [nm0284943]
6  tt0996958                        [nm2286991]  [nm2286991, nm2651190]

In [5]:
title_basic_crew = imdb_title_basics.join(imdb_title_crew.set_index('imdb_id'), on='imdb_id',how='left')

In [6]:
title_basic_crew.head()

,imdb_id,primary_title,original_title,start_year,genres,directors,writers
0,tt0063540,Sunghursh,Sunghursh,2013,"[Action,Crime,Drama]",[nm0712540],"[nm0023551, nm1194313, nm0347899, nm1391276]"
1,tt0066787,One Day Before the Rainy Season,Ashad Ka Ek Din,2019,"[Biography,Drama]",NaN,NaN
2,tt0069049,The Other Side of the Wind,The Other Side of the Wind,2018,[Drama],[nm0000080],"[nm0000080, nm0462648]"
3,tt0069204,Sabse Bada Sukh,Sabse Bada Sukh,2018,"[Comedy,Drama]",[nm0611531],[nm0347899]
4,tt0100275,The Wandering Soap Opera,La Telenovela Errante,2017,"[Comedy,Drama,Fantasy]","[nm0765384, nm0749914]","[nm1360635, nm0749914]"

In [7]:
basic_crew_ratings = title_basic_crew.join(imdb_title_ratings.set_index('imdb_id'), on='imdb_id',how='left')

In [8]:
imdb_title_ratings.head()

      imdb_id  averagerating  numvotes
0  tt10356526            8.3        31
1  tt10384606            8.9       559
2   tt1042974            6.4        20
3   tt1043726            4.2     50352
4   tt1060240            6.5        21

In [9]:
basic_crew_ratings.head()

,imdb_id,primary_title,original_title,start_year,genres,directors,writers,averagerating,numvotes
0,tt0063540,Sunghursh,Sunghursh,2013,"[Action,Crime,Drama]",[nm0712540],"[nm0023551, nm1194313, nm0347899, nm1391276]",7.0,77.0
1,tt0066787,One Day Before the Rainy Season,Ashad Ka Ek Din,2019,"[Biography,Drama]",NaN,NaN,7.2,43.0
2,tt0069049,The Other Side of the Wind,The Other Side of the Wind,2018,[Drama],[nm0000080],"[nm0000080, nm0462648]",6.9,4517.0
3,tt0069204,Sabse Bada Sukh,Sabse Bada Sukh,2018,"[Comedy,Drama]",[nm0611531],[nm0347899],6.1,13.0
4,tt0100275,The Wandering Soap Opera,La Telenovela Errante,2017,"[Comedy,Drama,Fantasy]","[nm0765384, nm0749914]","[nm1360635, nm0749914]",6.5,119.0

In [11]:
tn_movie_budgets.head()

,release_date,primary_title,production_budget,domestic_gross,worldwide_gross
1,2011-05-20,Pirates of the Caribbean: On Stranger Tides,410600000,241063875,1045663875
2,2019-06-07,Dark Phoenix,350000000,42762350,149762350
3,2015-05-01,Avengers: Age of Ultron,330600000,459005868,1403013963
4,2017-12-15,Star Wars Ep. VIII: The Last Jedi,317000000,620181382,1316721747
5,2015-12-18,Star Wars Ep. VII: The Force Awakens,306000000,936662225,2053311220

In [12]:
merged_data = basic_crew_ratings.join(tn_movie_budgets.set_index('primary_title'),on='primary_title',how='left')

In [14]:
merged_data.shape

(130233, 13)

Removed all NA values

In [16]:
new = merged_data.dropna()

In [42]:
table = pd.pivot_table(new, columns = ['genres'])

TypeError: unhashable type: 'list'