In [1]:
import pandas as pd

In [12]:
data= pd.read_csv('the-movies-dataset/movies_metadata.csv',encoding='latin')

/Applications/anaconda3/envs/learn-env/lib/python3.7/site-packages/IPython/core/interactiveshell.py:3058: DtypeWarning: Columns (0,2,5,10) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [14]:
data.columns

Index(['adult', 'belongs_to_collection', 'budget', 'genres', 'homepage', 'id',
       'imdb_id', 'original_language', 'original_title', 'overview',
       'popularity', 'poster_path', 'production_companies',
       'production_countries', 'release_date', 'revenue', 'runtime',
       'spoken_languages', 'status', 'tagline', 'title', 'video',
       'vote_average', 'vote_count'],
      dtype='object')

In [26]:
meta_data = data.drop(['adult','overview','poster_path','runtime','spoken_languages','status','tagline','video'],axis=1)

In [27]:
meta_data.head()

,belongs_to_collection,budget,genres,homepage,id,imdb_id,original_language,original_title,popularity,production_companies,production_countries,release_date,revenue,title,vote_average,vote_count
0,"{'id': 119050, 'name': 'Grumpy Old Men Collect...",0,"[{'id': 10749, 'name': 'Romance'}, {'id': 35, ...",NaN,15602,tt0113228,en,Grumpier Old Men,11.7129,"[{'name': 'Warner Bros.', 'id': 6194}, {'name'...","[{'iso_3166_1': 'US', 'name': 'United States o...",12/22/95,0.0,Grumpier Old Men,6.5,92.0
1,"{'id': 96871, 'name': 'Father of the Bride Col...",0,"[{'id': 35, 'name': 'Comedy'}]",NaN,11862,tt0113041,en,Father of the Bride Part II,8.38752,"[{'name': 'Sandollar Productions', 'id': 5842}...","[{'iso_3166_1': 'US', 'name': 'United States o...",2/10/95,76578911.0,Father of the Bride Part II,5.7,173.0
2,NaN,0,"[{'id': 28, 'name': 'Action'}, {'id': 12, 'nam...",NaN,45325,tt0112302,en,Tom and Huck,2.56116,"[{'name': 'Walt Disney Pictures', 'id': 2}]","[{'iso_3166_1': 'US', 'name': 'United States o...",12/22/95,0.0,Tom and Huck,5.4,45.0
3,NaN,0,"[{'id': 35, 'name': 'Comedy'}, {'id': 27, 'nam...",NaN,12110,tt0112896,en,Dracula: Dead and Loving It,5.43033,"[{'name': 'Columbia Pictures', 'id': 5}, {'nam...","[{'iso_3166_1': 'FR', 'name': 'France'}, {'iso...",12/22/95,0.0,Dracula: Dead and Loving It,5.7,210.0
4,"{'id': 117693, 'name': 'Balto Collection', 'po...",0,"[{'id': 10751, 'name': 'Family'}, {'id': 16, '...",NaN,21032,tt0112453,en,Balto,12.1407,"[{'name': 'Universal Pictures', 'id': 33}, {'n...","[{'iso_3166_1': 'US', 'name': 'United States o...",12/22/95,11348324.0,Balto,7.1,423.0

In [33]:
met

0                                       0
1                                       0
2                                       0
3                                       0
4                                       0
                       ...
45461                           300000000
45462                           380000000
45463    /ff9qCepilowshEtG2GYWwzt2bs4.jpg
45464    /zaSf5OG7V8X8gqFvly88zDdRm46.jpg
45465    /zV8bHuSL6WXoD6FWogP9j4x80bL.jpg
Name: budget, Length: 45466, dtype: object